<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.dielodide.termios</string> <!-- ✅ Fixé Apple → Toi -->
	<key>CFBundleExecutable</key>
	<string>Terminal</string>
	<key>CFBundleName</key>
	<string>TermiOS Kali</string> <!-- ✅ Nom custom -->
	<key>CFBundleDisplayName</key>
	<string>TermiOS Kali</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	
	<!-- ✅ SDK public -->
	<key>DTSDKName</key>
	<string>iphoneos16.0</string>
	<key>DTPlatformVersion</key>
	<string>16.0</string>
	
	<!-- ✅ File sharing activé -->
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	
	<!-- ✅ Dark mode + iPad/iPhone -->
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	
	<!-- ✅ Fonts SF Mono -->
	<key>UIAppFonts</key>
	<array>
		<string>SF-Mono-Bold.otf</string>
		<string>SF-Mono-Regular.otf</string>
		<!-- tous les autres... -->
	</array>
	
	<!-- ✅ Minimum iOS 10.0 -->
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	
	<!-- ✅ Entitlements nécessaires -->
	<key>UISupportsDocumentBrowser</key>
	<true/>
</dict>
</plist>
